.headerbox {
  background: beige;
  color: gray;
  display: flex;
  border: 10px solid gold;
  justify-content: center;
}
.headeritem {
  border: 10px solid gold;
  padding: 2rem;
  width: 5rem;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  margin: 10px;
}
.asidebox {
  background-color: beige;
  color: gray;
  display: flex;
  padding: 3rem;
  border: 10px solid gold;
  justify-content: center;
  width: 11rem;
  flex-direction: column;
  margin-top: 1rem;
}
.asideitem {
  border: 10px solid gold;
  padding: 2rem;
  width: 5rem;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  margin: 15px;
}
.mainbox {
  background-color: beige;
  display: flex;
  padding: 5rem;
  flex-direction: row;
  color: gray;
  border: 10px solid gold;
  margin: 2rem;
  width: 86.5rem;
  height: 10rem;
  text-align: center;
  position: relative;
  left: 18rem;
  bottom: 42.1rem;
}
.mainitem {
  border: 10px solid gold;
  padding: 3rem;
  margin: auto;
}
.footbox {
  border: 10px solid gold;
  display: flex;
  padding: 1rem;
  position: relative;
  bottom: 29.7rem;
  width: 94.5rem;
  left: 20rem;
}
