body {
    background-color: black;
}

#form {
    background-color: rgb(36, 116, 85);
    border: 5px darkred solid;
    padding: 32px;
}

#inputName,
#inputNumber,
#inputPassword {
    border: 5px darkred solid;
    margin: auto;
}

#submitBtn,
#bdayBtn,
#submitBtn3 {
    font-size: 1rem;
    font-weight: bolder;
    border: 5px darkred solid;
    margin: auto;
}

#errorOutput {
    font-weight: bolder;
    font-size: 2rem;
    text-decoration: underline;
}

#messages {
    font-weight: bolder;
    font-size: 2rem;
}

#paraHello {
    font-weight: bolder;
    font-size: 2rem;

}